<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97899051501-c9fbgrqjn1n9df66b1dnqncpj5uh8n4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97899051501-c9fbgrqjn1n9df66b1dnqncpj5uh8n4n</string>
	<key>API_KEY</key>
	<string>AIzaSyD6n19JhY78iQwZlYEYuDW6rXP1RYn01-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>97899051501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-demo-187af</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-demo-187af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97899051501:ios:b774d9dd0eb16774474fe4</string>
</dict>
</plist>